<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cinema Stars</title>
</head>
<body>
<nav>
    <a th:href="@{/movies}">Movies</a>
</nav>
<div>
    <table>
        <tr>
            <th>Name</th>
            <th>Date & Time</th>
            <th>Hall</th>
            <th>Price</th>
        </tr>
        <tr class="item">
            <td th:text="${projection.getMovie().getName()}"></td>
            <td th:text="${projection.getTimestamp()}"></td>
            <td th:text="${projection.getHall().getName()}"></td>
            <td th:text="${projection.getPrice()}"></td>
        </tr>
    </table>
</div>
<div>
    <div>


        <span th:each="seat : ${seats}">
            <th:block th:text="${seat}"></th:block>
        </span>

        <div>
            <th:block th:text="${price}"></th:block>
            euros
        </div>

        <form th:method="post" th:action="@{'/payment'}">
        <div>
            <label for="name">First Name</label>
            <input type="text" id="name" name="name" required>
        </div>
        <div>
            <label for="surname">Last Name</label>
            <input type="text" id="surname" name="surname" required>
        </div>
        <div>
            <label for="cardNumber">Credit Card Number</label>
            <input type="text" id="cardNumber" name="cardNumber" required>
        </div>
        <div>
            <label for="cardExpiration">Card Expiration</label>
            <input type="text" id="cardExpiration" name="cardExpiration" required>
        </div>
        <div>
            <label for="securityCode">Security Code</label>
            <input type="number" id="securityCode" name="securityCode" required>
        </div>


            <input type="submit" th:value="submit">
        </form>
    </div>

</div>
</body>
</html>
